@model IEnumerable<MasterDetail.Models.Customers>
@{
    ViewBag.Title = "List Customer";
}

<h2>List Customer</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Customer Id</th>
            <th>Company Name</th>
            <th>Contact Person</th>
            <th>City</th>
            <th>Country</th>
        </tr>
    </thead>

    <tbody>
        @foreach (MasterDetail.Models.Customers cust in Model)
        {
        <tr>

            <td><a href="#"><span class="glyphicon glyphicon-plus-sign"></span></a></td>
            <td>@cust.CompanyName</td>
            <td>@cust.ContactName</td>
            <td>@cust.City</td>
            <td>@cust.Country</td>

        </tr>
        }
    </tbody>

</table>